/* stylelint-disable at-rule-no-unknown */

@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #__next {
height: 100%;
}
body {
font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
/* Smooth fade + scale animation */
.animate-show {
  opacity: 1 !important;
  transform: translateY(0) scale(1) !important;
}
